<a href="https://colab.research.google.com/github/gracol3/PUM/blob/main/Gracjan_Golon_dokonczone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import math
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

df = pd.read_csv("train.csv")
df.head()

<ipython-input-58-b798b7cb12e0>:11: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [59]:
df.drop_duplicates(inplace=True)

In [60]:
df.shape

(100000, 28)

In [61]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [62]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce').astype('Int64')
df['Month'] = pd.to_numeric(df['Month'], errors='coerce').astype('string')
df['Annual_Income'] = pd.to_numeric(df['Annual_Income'], errors='coerce').astype('float64')
df['Num_of_Loan'] = pd.to_numeric(df['Num_of_Loan'], errors='coerce').astype('Int64')
df['Num_of_Delayed_Payment'] = pd.to_numeric(df['Num_of_Delayed_Payment'], errors='coerce').astype('Int64')
df['Changed_Credit_Limit'] = pd.to_numeric(df['Changed_Credit_Limit'], errors='coerce').astype('float64')
df['Outstanding_Debt'] = pd.to_numeric(df['Outstanding_Debt'], errors='coerce').astype('float64')
df['Amount_invested_monthly'] = pd.to_numeric(df['Amount_invested_monthly'], errors='coerce').astype('float64')
df['Monthly_Balance'] = pd.to_numeric(df['Monthly_Balance'], errors='coerce').astype('float64')

In [63]:
df = df.drop(["ID", "Customer_ID", "Name", "SSN"], axis=1)

In [64]:
df.dtypes

Month                        string
Age                           Int64
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                   Int64
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment        Int64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [65]:
czy_puste_wartosci_w_kolumnach = df.isnull().any()
print(czy_puste_wartosci_w_kolumnach)

Month                        True
Age                          True
Occupation                  False
Annual_Income                True
Monthly_Inhand_Salary        True
Num_Bank_Accounts           False
Num_Credit_Card             False
Interest_Rate               False
Num_of_Loan                  True
Type_of_Loan                 True
Delay_from_due_date         False
Num_of_Delayed_Payment       True
Changed_Credit_Limit         True
Num_Credit_Inquiries         True
Credit_Mix                  False
Outstanding_Debt             True
Credit_Utilization_Ratio    False
Credit_History_Age           True
Payment_of_Min_Amount       False
Total_EMI_per_month         False
Amount_invested_monthly      True
Payment_Behaviour           False
Monthly_Balance              True
Credit_Score                False
dtype: bool

In [66]:
mean_age = df[df['Age'] >= 0]['Age'].mean()
df.loc[df['Age'] < 0, 'Age'] = mean_age.round()
df.loc[df['Age'] > 130, 'Age'] = mean_age.round()
df['Month'] = df['Month'].fillna("January")

In [67]:
df['Age'] = df['Age'].fillna(df['Age'].mean().round())
df['Annual_Income'] = df['Annual_Income'].fillna(df['Annual_Income'].mean())
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].fillna(df['Monthly_Inhand_Salary'].mean())
df['Num_of_Loan'] = df['Num_of_Loan'].fillna(df['Num_of_Loan'].mean().round())
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].fillna(0)
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].fillna(df['Changed_Credit_Limit'].mean())
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].fillna(df['Num_Credit_Inquiries'].mean())
df['Outstanding_Debt'] = df['Outstanding_Debt'].fillna(df['Outstanding_Debt'].mean())
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].fillna(df['Amount_invested_monthly'].mean())
df['Monthly_Balance'] = df['Monthly_Balance'].fillna(df['Monthly_Balance'].mean())

In [68]:
df.dropna(subset=['Type_of_Loan'], inplace=True)
df.dropna(subset=['Credit_History_Age'], inplace=True)

In [69]:
df.head(5)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
2,January,117,Scientist,19114.12,4194.170850,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,January,23,Scientist,19114.12,4194.170850,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,January,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,January,23,Scientist,19114.12,4194.170850,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172,!@9#%8,340.479212,Good

In [70]:
# Lista kolumn zawierających zmienne kategoryczne
cols_to_encode = ['Month', 'Occupation', 'Type_of_Loan', 'Credit_Mix', 'Credit_History_Age', 'Payment_of_Min_Amount', 'Payment_Behaviour', 'Credit_Score']

# Kodowanie etykiet dla wszystkich kolumn z listy cols_to_encode
label_encoder = LabelEncoder()
df[cols_to_encode] = df[cols_to_encode].apply(label_encoder.fit_transform)

# Wyświetlenie pierwszych wierszy ramki danych po zakodowaniu etykiet
print(df.head())

   Month  Age  Occupation  Annual_Income  Monthly_Inhand_Salary  \
0      0   23          12       19114.12            1824.843333
2      0  117          12       19114.12            4194.170850
3      0   23          12       19114.12            4194.170850
4      0   23          12       19114.12            1824.843333
5      0   23          12       19114.12            4194.170850

   Num_Bank_Accounts  Num_Credit_Card  Interest_Rate  Num_of_Loan  \
0                  3                4              3            4
2                  3                4              3            4
3                  3                4              3            4
4                  3                4              3            4
5                  3                4              3            4

   Type_of_Loan  ...  Credit_Mix  Outstanding_Debt  Credit_Utilization_Ratio  \
0           128  ...           3            809.98                 26.822620
2           128  ...           1            809.98                 28.609352
3           128  ...           1            809.98                 31.377862
4           128  ...           1            809.98                 24.797347
5           128  ...           1            809.98                 27.262259

   Credit_History_Age  Payment_of_Min_Amount  Total_EMI_per_month  \
0                 180                      1            49.574949
2                 184                      1            49.574949
3                 185                      1            49.574949
4                 186                      1            49.574949
5                 187                      1            49.574949

   Amount_invested_monthly  Payment_Behaviour  Monthly_Balance  Credit_Score
0                80.415295                  3       312.494089             0
2                81.699521                  5       331.209863             0
3               199.458074                  6       223.451310             0
4                41.420153                  2       341.489231             0
5                62.430172                  0       340.479212             0

[5 rows x 24 columns]

In [72]:
df.dtypes

Month                         int64
Age                           Int64
Occupation                    int64
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                   Int64
Type_of_Loan                  int64
Delay_from_due_date           int64
Num_of_Delayed_Payment        Int64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                    int64
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age            int64
Payment_of_Min_Amount         int64
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour             int64
Monthly_Balance             float64
Credit_Score                  int64
dtype: object

In [73]:

scaler = MinMaxScaler()
col_float = ['Annual_Income','Monthly_Inhand_Salary','Changed_Credit_Limit','Num_Credit_Inquiries',
             'Outstanding_Debt','Credit_Utilization_Ratio','Total_EMI_per_month','Amount_invested_monthly','Monthly_Balance']
for i in df[col_float]:
  df[i] = scaler.fit_transform(df[[i]])
df.head()

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,23,12,0.000501,0.102087,3,4,3,4,128,...,3,0.16202,0.228140,180,1,0.000548,0.040669,3,0.201223,0
2,0,117,12,0.000501,0.261092,3,4,3,4,128,...,1,0.16202,0.288781,184,1,0.000548,0.041318,5,0.213274,0
3,0,23,12,0.000501,0.261092,3,4,3,4,128,...,1,0.16202,0.382745,185,1,0.000548,0.100873,6,0.143884,0
4,0,23,12,0.000501,0.102087,3,4,3,4,128,...,1,0.16202,0.159402,186,1,0.000548,0.020948,2,0.219894,0
5,0,23,12,0.000501,0.261092,3,4,3,4,128,...,1,0.16202,0.243061,187,1,0.000548,0.031573,0,0.219243,0

In [75]:

from sklearn.model_selection import train_test_split

# Podział danych na zbiór uczący i testowy
X = df.drop('Num_of_Delayed_Payment', axis=1)  # Zastąp 'target_column' nazwą kolumny, którą chcesz przewidywać
y = df['Num_of_Delayed_Payment']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)